/* Custom Properties */
:root {
  /* === COLORS === */
  --clr-black: #000000;
  --clr-white: #ffffff;


}

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Cormorant Garamond', serif;
}

/* Layout */
.container {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
}

/* Utility */

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.py-20 {
  padding: 20px 0;
}

.py-50 {
  padding: 50px 0;
}

.my-20 {
  margin: 20px 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

/* Header */

header {
  height: 120px;
  width: 100%;
}